<section class="my-5 py-2 animate__animated animate__fadeInDown animate__slow">
  <h4 class="section-title">Work Experience</h4>
  <ul class="">
    @for (company of companies; track company.name) {
      <li class="shadow-sm hover:shadow my-2 px-2 py-1.5 group">
        <a [href]="company.url" target="_blank">
          <div class="flex md:flex-row flex-col gap-y-4 justify-between my-2">
            <div class="flex align-middle">
              <img class="inline-block size-16 rounded ring-2 mr-3 ring-transparent"
                   [src]="company.image"
                   [alt]="company.name" >
              <div class="flex flex-col">
                <p class="font-semibold items-center flex">{{ company.name }}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                       class="size-4 hidden group-hover:block ml-2">
                    <path fill-rule="evenodd"
                          d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd"/>
                  </svg>
                </p>
                <p class="text-sm ">{{ company.title }}</p>
              </div>
            </div>
            <p class="mr-4">{{ company.duration }}</p>
          </div>
        </a>
      </li>
    }
  </ul>
</section>
