<section class="mb-5 mt-10 py-2 ">
  <div class="flex justify-between bg-[url('/images/grid-background2.png')] p-4 rounded-lg">
    <div class="backdrop-blur-sm">
      <h2 class="font-semibold text-5xl mb-2">Hello, I'm <span class="text-shade">Tinashe</span>👋🏾</h2>
      <p class="font-light text-lg">Backend Developer who enjoys designing and developing solutions to meet customer's
        needs.</p>
    </div>
  </div>
  <div>
    <h4 class="section-title">About Me</h4>
    <p class="text-justify text-sm font-light">I have worked with various companies across industries such as Media & Broadcasting,
      Telecommunications and Transport, to deliver solutions that meet the needs of the organisation. From Service
      integrations to Quality Control, I have contributed to the maintenance and improvement of current systems designed
      flows to improve usability of applications to make for a more seamless flow foe the user. </p>
    <div class="my-3"></div>
    <p class="text-sm font-light">You can check out some of the solutions I have built here on my <a
      href="https://github.com/tinasche"
      target="_blank"
      class="hover:underline font-semibold text-gray-800">github</a>
      account.</p>
  </div>
</section>
