<section class="my-5 py-2">
  <div class="mb-4">
    <h2 class="font-semibold text-5xl mb-2">Hello, I'm <span class="text-shade">Tinashe</span>👋🏾</h2>
    <p class="text-lg">Backend Software Developer with a taste for the troubling stuff.</p>
  </div>
  <div>
    <h4 class="section-title">About Me</h4>
    <p class="text-justify">Completed my BTech degree with the Harare Institute of Technology and got my first job working as
      a full stack developer helping the organisation improve on current applications to deliver the best experiences
      for
      its clients. I enjoying building all kinds of tolls and services, testing and learning new technologies and
      blogging about my experiences here and there.
    </p>
    <div class="my-3"></div>
    <p>With experience developing for various platforms including, web, mobile and desktop, I have learnt the joys and struggles of
      trying out all kinds of technologies to see how the ecosystem works together. Connect this to that, see how it behaves,
      making sure it works as efficiently and effectively as possible not only to meet the requirements but smoothly for the actors involved.</p>
    <div class="my-3"></div>
    <p>You can check out some of the things I have built here on my <a href="https://github.com/tinasche"
                                                                       target="_blank"
                                                                       class="hover:underline font-semibold text-gray-800">github</a>
      account.</p>
  </div>
</section>
