<section class="mb-2 flex justify-between py-4">
  <p class="text-sm font-light"><span></span>{{ YEAR }} | theasbyte</p>
  <div class=" flex gap-x-3">
    <a href="https://github.com/tinasche" target="_blank"><i class="bi bi-github text-gray-700 text-xl hover:text-rose-600"></i></a>
    <a href="https://www.linkedin.com/in/tinasche/" target="_blank"><i class="bi bi-linkedin text-gray-700 text-xl hover:text-rose-600"></i></a>
    <a href="https://x.com/theasbyte" target="_blank"><i class="bi bi-twitter-x text-gray-700 text-xl hover:text-rose-600"></i></a>
    <a href="mailto:tchita56@gmail.com" target="_blank"><i class="bi bi-envelope-fill text-gray-700 text-xl hover:text-rose-600"></i></a>
  </div>
</section>
