<section class="my-5 py-2 ">
  <h4 class="section-title">Projects</h4>
  <p class="text-slate-400 text-md mb-3">I have worked on a variety of projects from simple websites to complex systems and applications. Here are a few on my showcase.</p>
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
    @for (project of projects; track project.name) {
      <ng-container class="grid">
        <app-project-card [projectItem]="project"></app-project-card>
      </ng-container>
    }
  </div>
</section>
