@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@plugin "@tailwindcss/typography";


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2d3436;
}

.text-shade {
  @apply bg-gradient-to-r from-rose-800 to-red-500 bg-clip-text text-transparent p-2;
}

.section-title {
  @apply font-semibold bg-gradient-to-r from-gray-800 to-slate-500 bg-clip-text text-transparent text-xl my-2 px-1
}
